.car-details-container {
    width: 100%;
    padding: 0 70px 70px;
    .main-img {
        width: 100%;
        max-height: 550px;
        object-fit: cover;
    }
    .car-name {
        text-shadow: 0px 1px 2px rgb(42 41 41);
    }

    .car-actions {
        display: flex;
        padding: 10px 30px;
        .price-container {
            display: flex;
            flex-direction: column;
            margin-inline-end: 5em;
            .p-one {
                font-size: rem(22px);
            }
            .p-two {
                font-size: rem(44px);
            }
            .p-three {
                font-size: rem(16px);
            }
        }

        .fund-options {
            font-size: rem(22px);
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;

            .go-to-fund-calc {
                background-color: transparent;
                text-decoration: solid;
                color: $clr-suzuki-blue;
                font-size: rem(22px);
                text-decoration: underline $clr-suzuki-blue;
                flex: 1;
                text-align: right;
                justify-self: flex-end;
                text-underline-offset: 0.25rem;
            }
        }

        button {
            font-size: rem(18px);
            font-weight: bold;
            height: 40px;
        }

        .call-to-action-btns {
            display: flex;
            gap: 5px;
            .inside-link {
                align-self: center;
                width: 200px;
                text-decoration: none;
                .go-to-contact-us {
                    @include flex-center;
                    gap: 6px;
                    width: 100%;
                    span {
                        color: white;
                    }
                    svg {
                        > * {
                            color: white;
                        }
                    }
                }
            }

            .phone-link {
                background-color: $clr-background;
                align-self: center;
                width: 200px;
                text-decoration: none;
                .phone-us {
                    @include flex-center;
                    gap: 5px;
                    width: 100%;
                }
            }
        }
    }

    .links-container {
        width: 100%;
        background-color: $clr-background;
        height: 80px;
        @include flex-center;
        gap: 20px;
        > * {
            font-size: rem(24px);
            font-weight: bold;
        }
    }

    .info-imgs-container {
        padding: 40px 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        .main-info-img {
            @include big-card;
        }

        .safety {
            @include big-card;

            .safety-imgs-container {
                position: relative;
                img {
                    width: 100%;
                    object-fit: cover;
                    transition: 0.6s ease-in-out;

                    &:not(:first-child) {
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                .arrow-right {
                    position: absolute;
                    font-size: rem(24px);
                    right: -2.5%;
                    top: 50%;
                    cursor: pointer;
                    transform: translateY(-50%);
                }
                .arrow-left {
                    position: absolute;
                    font-size: rem(24px);
                    left: -2.5%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        video {
            box-shadow: 0px 0px 2px 1px #dfe1e6;
            width: 80%;
        }
        .pollution-img {
            width: 100%;
        }
    }

    .last-hr {
        margin: 60px 0;
    }
}

.car-details-container {
    .car-actions-float-container {
        position: fixed;
        z-index: 1000;
        background-color: white;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: rgb(169 170 175) 0px -0.5px 4px 0px;
        width: 100%;
        .car-actions {
            padding: 10px 290px 10px 10px;
            height: 110px;
            gap: 20px;
            .mini-float-img {
                position: absolute;
                width: 230px;
                right: 40px;
                top: -30px;
            }

            .close-float-car-actions {
                position: absolute;
                right: 10px;
                top: 10px;
                svg {
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    > * {
                        color: $clr-background;
                        &:hover {
                            color: $clr-suzuki-blue;
                        }
                    }
                }
            }
            .price-container {
                margin-inline-end: 2em;
                .p-one {
                    font-size: rem(18px);
                }
                .p-two {
                    font-size: rem(36px);
                }
                .p-three {
                    font-size: rem(13px);
                }
            }

            .fund-options {
                font-size: rem(18px);
            }
        }
    }
}

//MQ

@include for-big-screen {
    .car-details-container {
        .main-img {
            max-height: 350px;
        }

        .car-actions {
            padding: 5px 20px;
        }
        .info-imgs-container {
            padding: 40px 150px;
        }
    }
}

@include for-wide-layout {
    .car-details-container {
        .info-imgs-container {
            padding: 40px 100px;
        }
        .car-actions {
            padding-inline: 0;
            .price-container {
                margin-inline-end: 2em;
            }
            .phone-us,
            .inside-link {
                width: 170px;
            }
        }
        .car-actions-float-container {
            .car-actions {
                gap: 5px;
                padding-inline-start: 220px;
                .mini-float-img {
                    width: 180px;
                }
            }
        }
    }
}

@include for-regular-layout {
    .car-details-container {
        .info-imgs-container {
            padding: 40px 50px;
        }
        .car-actions {
            padding-inline: 0;
            .price-container {
                .p-one {
                    font-size: rem(20px);
                }
                .p-two {
                    font-size: rem(36px);
                }
                .p-three {
                    font-size: rem(14px);
                }
            }
            .fund-options {
                font-size: rem(20px);
                .go-to-fund-calc {
                    font-size: rem(20px);
                }
            }
            .call-to-action-btns {
                flex-direction: column;
                .inside-link {
                    width: 160px;
                }
                .phone-link {
                    width: 160px;
                }
            }
        }
    }
}

@include for-tablet-layout {
    .car-details-container {
        padding: 0 0 70px 0;

        .info-imgs-container {
            video {
                width: 100%;
            }
        }

        .car-actions {
            .price-container {
                .p-one {
                    font-size: rem(18px);
                }
                .p-two {
                    font-size: rem(28px);
                }
            }
            .fund-options {
                font-size: rem(18px);
                .go-to-fund-calc {
                    font-size: rem(18px);
                }
            }
            .call-to-action-btns {
                flex-direction: column;
                .inside-link {
                    width: 150px;
                    > * {
                        font-size: rem(16px);
                    }
                }
                .phone-link {
                    > * {
                        font-size: rem(16px);
                    }
                    width: 150px;
                }
            }
        }

        .car-actions-float-container {
            .car-actions {
                gap: 0;
                padding-inline-start: 190px;
                .mini-float-img {
                    width: 150px;
                    top: -20px;
                }
                .price-container {
                    margin: 0;

                    .p-one {
                        font-size: rem(18px);
                    }
                    .p-two {
                        font-size: rem(30px);
                    }
                }
                .fund-options {
                    font-size: rem(18px);
                    .go-to-fund-calc {
                        font-size: rem(18px);
                    }
                }
                .call-to-action-btns {
                    .inside-link {
                        width: 45px;
                        height: 45px;
                        .go-to-contact-us {
                            width: 100%;
                            height: 100%;
                            border-radius: 100px;

                            span {
                                display: none;
                            }
                        }
                    }
                    .phone-link {
                        width: 45px;
                        height: 45px;
                        border-radius: 100px;
                        .phone-us {
                            margin-top: 1px;
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include for-narrow-layout {
    .car-details-container {
        .car-actions-float-container {
            display: none;
        }
    }
}

@include for-mobile-layout {
    .car-details-container {
        .info-imgs-container {
            padding: 40px 10px;
        }
        .car-actions {
            padding-inline: 10px;
            gap: 5px;
            .price-container {
                .p-three {
                    display: flex;
                    flex-direction: column;
                }
            }
            .call-to-action-btns {
                .inside-link {
                    width: 45px;
                    height: 45px;
                    .go-to-contact-us {
                        width: 100%;
                        height: 100%;
                        border-radius: 100px;

                        span {
                            display: none;
                        }
                    }
                }

                .phone-link {
                    width: 45px;
                    height: 45px;
                    border-radius: 100px;
                    .phone-us {
                        margin-top: 1px;
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
