.gallery-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    // grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-rows: 600px 600px 600px 600px 600px 600px;
    padding: 20px;
    >*{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    direction: ltr;
    gap:20px;


    .a{
        grid-column: 1/3;
    }
    .b{
        grid-column: 3/4;
    }
    .c{
        grid-column: 1/2;
    }
    .d{
        grid-column: 2/4;
    }
    .e{
        grid-column: 1/3;
    }
    .f{
        grid-column: 3/4;
    }
    .g{
        grid-column: 1/2;
    }
    .h{
        grid-column: 2/4;
    }
    .i{
        grid-column: 1/3;
    }
    .j{
        grid-column: 3/4;
    }
    .k{
        grid-column: -1/1;
    }
    // .f{
    //     grid-column: 1/2;
    // }
    // .f{
    //     grid-column: 2/4;
    // }

   
}

@include for-wide-layout{
    .gallery-container{
        grid-template-rows: repeat(6, 400px);
    }
    
}

@include for-regular-layout{
    .gallery-container{
        grid-template-rows: repeat(6, 300px);
    }
}
@include for-tablet-layout{
    .gallery-container{
        grid-template-rows: repeat(6, 250px);
        gap:10px;
        padding:10px;
    }
}
@include for-narrow-layout{
    .gallery-container{
        grid-template-rows: repeat(6, 200px);
        
    }
}
@include for-mobile-layout{
    .gallery-container{
        grid-template-rows: repeat(12, 350px);
        .a, .b, .c , .d, .e, .f, .g, .h, .i, .j, .k{
            grid-column: -1/1;
        }
        
    }
}