.home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 70px;
    gap: 60px;

    .img-container {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        .inner-img {
            width: 100%;
            max-height: 650px;
            position: relative;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: 0.6s ease-in-out;
            margin-bottom: 60px;

            &:not(:first-child) {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
            }

            .call-to-action-btns {
                z-index: 5;
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translate(-50%);
                display: flex;
                gap: 15px;
                > * {
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline white;
                    }

                    > * {
                        padding: 3px 6px;
                        width: 240px;
                        height: 50px;
                        font-size: rem(30px);
                        @include flex-center;
                    }
                }

                .more-info {
                    background-color: rgba(255, 255, 255, 0);
                    border: 1px white solid;
                    color: #ffffff;
                }

                .contact-us {
                    background-color: $clr-suzuki-blue;
                    color: white;
                    &:hover {
                        text-decoration: solid;
                    }
                }
            }
        }

        .arrow-right {
            position: absolute;
            font-size: rem(50px);
            right: 2.5%;
            top: 50%;
            cursor: pointer;
            transform: translateY(-50%);

            > * {
                > * {
                    color: $clr-background;
                }
            }
        }

        .arrow-left {
            position: absolute;
            font-size: rem(50px);
            left: 2.5%;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;

            > * {
                > * {
                    color: $clr-background;
                }
            }
        }

        .toggle-play {
            position: absolute;
            bottom: 0;
            left: 2.5%;
            height: 60px;
            @include flex-center;
            font-size: rem(18px);
            display: flex;
            gap: 5px;

            .pause,
            .play {
                &.hide {
                    display: none;
                }
            }
        }
    }
}

//MQ

@include for-big-screen {
    .home {
        .img-container {
            .inner-img {
                max-height: 400px;
            }
        }
    }
}

@include for-tablet-layout {
    .home {
        padding: 0 30px;
        .img-container {
            .inner-img {
                .call-to-action-btns {
                    > * {
                        > * {
                            width: 200px;
                            height: 40px;
                            font-size: rem(24px);
                        }
                    }
                }
                .arrow-right,
                .arrow-left {
                    font-size: rem(40px);
                }
            }
            .toggle-play {
                font-size: rem(18px);
            }
        }
    }
}

@include for-narrow-layout {
    .home {
        padding: 0;
        .img-container {
            .inner-img {
                .call-to-action-btns {
                    gap: 10px;
                    bottom: 10px;
                    > * {
                        > * {
                            width: 170px;
                            height: 35px;
                            font-size: rem(20px);
                        }
                    }
                }
            }
            .toggle-play {
                font-size: 1rem;
            }
        }
    }
}

@include for-mobile-layout {
    .home {
        gap: 40px;
        .title {
            margin: 0;
        }
        .img-container {
            .inner-img {
                margin-bottom: 50px;
                .call-to-action-btns {
                    > * {
                        > * {
                            width: 150px;
                            height: 30px;
                            font-size: rem(20px);
                        }
                    }
                }
                .arrow-right,
                .arrow-left {
                    font-size: rem(40px);
                }
            }
            .toggle-play {
                font-size: rem(14px);
                height: 50px;
            }
        }
    }
}
