.purchase-process-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 350px 70px;

    a {
        text-decoration: underline $clr-suzuki-blue;

        &:active {
            color: $clr-suzuki-blue;
        }
    }

    img {
        width: 100%;
        object-fit: cover;
        height: 500px;
    }

    .title {
        font-size: rem(32px);
        font-weight: bold;
        margin-bottom: 20px;
    }
    .intro {
        font-size: rem(20px);
        text-align: center;
        margin-bottom: 50px;
    }

    .purchase-info-cards {
        display: flex;
        flex-direction: column;
        gap: 40px;
        article {
            border: 1px solid rgba(9, 30, 66, 0.1294117647);

            h2 {
                padding: 8px;
                background-color: $clr-background;
                font-weight: unset;
            }
            p {
                padding: 8px;
                line-height: 1.875rem;
            }
        }
    }
}

@include for-big-screen {
    .purchase-process-container {
        padding: 50px 200px 70px;
    }
}
@include for-wide-layout {
    .purchase-process-container {
        padding: 50px 150px 70px;
    }
}
@include for-regular-layout {
    .purchase-process-container {
        padding: 50px 100px 70px;
    }
}
@include for-tablet-layout {
    .purchase-process-container {
        padding: 50px 50px 70px;
    }
}
@include for-narrow-layout {
    .purchase-process-container {
        padding: 50px 10px 70px;
    }
}

