.big-cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;

    :last-child {
        hr {
            display: none;
        }
    }

    .big-card-container {
        @include big-card;

        .bigPlusSmall {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .big-img {
                @include big-card;
            }
            .small-imgs-container {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
                gap: 15px;
                > * {
                    width: 100%;
                    .title-small {
                        font-size: rem(24px);
                        // font-weight: bold;
                    }
                    .content {
                        font-size: rem(18px);
                    }
                }
                img {
                    object-fit: cover;
                    width: 100%;
                    // height: 100%;
                }
            }
        }

        hr {
            margin-top: 60px;
        }
    }
}
