.car-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .models-header {
        font-size: rem(40px);
        font-weight: bold;
        margin-bottom: 30px;
        background-color: white;
        text-align: center;
    }

    .car-list-content {
        opacity: 1;
        @include flex-center;
        flex-wrap: wrap;
        gap: 120px;
        max-width: 1200px;
        background-color: white;
        padding-bottom: 30px;
    }

    .move-to-car-list {
        font-size: rem(18px);
        background-color: white;
        padding-top: 20px;
        width: 90%;
        text-align: center;
    }
}

//MQ

@include for-regular-layout {
    .car-list {
        .car-list-content {
            gap: 70px;
        }
    }
}

@include for-tablet-layout {
    .car-list {
        .models-header {
            font-size: rem(32px);
        }
        .car-list-content {
            gap: 50px;
        }
    }
}
