.safety-details {
    width: 100%;
    font-size: rem(20px);
    background-color: white;
    // background-color: transparent;
    height: 50px;
    // border: 1px solid gray;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 60px;
    // position: absolute;
    // bottom: 0;
    // transform: translateY(100%);

    .safety {
        display: flex;
        gap:3px;
        align-items: center;

        .safety-title {
        }
        .safety-info {
            width: 25px;
            height: 25px;
            @include flex-center;
            color:white;

        }
    }

    .pollution {
        display: flex;
        gap:3px;
        align-items: center;
        .pollution-title {
        }
        .pollution-info {
            width: 25px;
            height: 25px;
            @include flex-center;

        }
    }
.more-info-container{
    display: flex;
    gap:3px;
    .more-info {
    }
}
    
}
