.header-container {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    font-size: rem(22px);
    z-index: 1000;

    &:hover {
        background-color: white;
        button {
            color: black;
        }
    }

    .top-header {
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 20px;

        .main-logo {
            height: 100%;
        }

        .link-title {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            text-decoration: none;
            .title {
                @include flex-center;
                cursor: pointer;
                font-weight: 500;
                font-size: rem(24px);
            }
        }

        .main-search-label {
            font-size: rem(18px);
            > * {
                font-size: 16px;
                color: black;
            }
            .main-search {
                border: 0;
            }
        }
    }

    button {
        height: 100%;
        font-size: rem(22px);
        width: 120px;

        &:hover {
            text-decoration: underline $clr-suzuki-blue;
        }
    }

    hr {

        &.hide{
            display: none;
        }
    }

    .main-nav {
        display: flex;
        height: 60px;
        justify-content: center;
        gap: 20px;
        // position: absolute;
        // top:56px;
        background-color: white;
        width: 100%;
        // transition: visibility .2s ;
        transition: .2s ;
       
       

        &.hide {
            display: none;
            // height: 0;
            // transform: translateY(-200%);
            // top:-200px;
            // visibility: hidden;
            // scale: 0;
            // height: 0;
            // overflow: hidden;
            // position: absolute;
            // top:-116px;
            // transform: translateY(-200px);
            
            
        }
    }
}
