.header-container {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    font-size: rem(22px);
    z-index: 1000;

    &:hover {
        background-color: white;
        button {
            color: black;
        }
    }

    .top-header {
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 20px;

        .nav-menu-icon {
            display: none;
            cursor: pointer;
            &.hide {
                display: none;
            }
        }

        .close-menu-icon {
            cursor: pointer;
            &.hide {
                display: none;
            }
        }

        .main-logo {
            height: 100%;
        }

        .link-title {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            text-decoration: none;
            .title {
                @include flex-center;
                cursor: pointer;
                font-weight: 500;
                font-size: rem(24px);
            }
        }

        .main-search-label {
            font-size: rem(18px);
            > * {
                font-size: 16px;
                color: black;
            }
            .main-search {
                border: 0;
            }
        }
    }

    a {
        &:active {
            color: blue;
        }
    }

    button {
        height: 100%;
        font-size: rem(22px);
        width: 120px;

        &:hover {
            text-decoration: underline $clr-suzuki-blue;
        }
    }

    .nav-container {
        transform: scale(1);
        height: 60px;
        display: flex;
        flex-direction: column;
        &.hide {
            transform: scale(0);
            height: 0;
            overflow: hidden;
        }
        .main-nav {
            display: flex;
            flex: 1;
            justify-content: center;
            gap: 20px;
            background-color: white;
            width: 100%;

            a {
                &.active {
                    > * {
                        text-decoration: underline $clr-suzuki-blue;
                    }
                }
            }
        }
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.4s;
        transform-origin: bottom;
    }
}

//MQ

@include for-tablet-layout {
    .header-container {
        .nav-container {
            .main-nav {
                gap: 0;
            }
        }
    }
}

@include for-mobile-layout {
    .header-container {
        .top-header {
            .nav-menu-icon {
                display: block;
            }
        }
        .nav-container {
            hr {
                display: none;
            }
            position: fixed;
            top: 55px;
            width: 100%;
            transform: translateX(200%);
            transition: transform 0.6s ease-in-out;
            height: 100vh;
            .main-nav {
                box-shadow: inset 3px 1px 5px 0px rgb(205 203 203);
                flex-direction: column;
                gap: 40px;
                justify-content: start;
                align-items: stretch;
                text-align: center;
                padding-top: 40px;
                > * {
                    border-bottom: solid 1px $clr-background;
                    :hover {
                        color: $clr-suzuki-blue;
                        text-decoration: none;
                    }
                }

                a {
                    &.active {
                        > * {
                            color: $clr-suzuki-blue;
                            text-decoration: none;
                        }
                    }
                }
            }

            &.nav-open {
                transform: translateX(0);
            }
        }
    }
}
