.loader-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top:20%;
    .loader{
        width: 150px;
        animation: rotate 3s infinite linear;
        box-shadow: 0 0 0 black;
    }
}



@keyframes rotate {
    to {transform: rotateY(360deg);}
}