.mini-cards-container{
    width: 100%;
    gap:30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
 

    .mini-card-container{
        @include mini-card;
    }
}

@include for-tablet-layout{
    .mini-cards-container{
        grid-template-columns: auto;
    }
}