@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin big-card {
	text-align: center;
	width: 100%;
	.title {
		font-size: rem(40px);
		font-weight: bold;
		margin-bottom: em(20px,40px);
	}
	.content {
		font-size: rem(24px);
		margin-bottom: em(25px,24px);
	}
	.card-img {
		width: 100%;
		max-width: 1000px;
		max-height: 500px;
		object-fit: cover;
	}
}

@mixin mini-card {
	text-align: center;

	.title {
		font-size: rem(24px);
		font-weight: bold;
	}
	.content {
		font-size: rem(18px);
	}
	.mini-img {
		object-fit: cover;
		width: 100%;
		// aspect-ratio: 1.5 / 1;
		// height: max-content;
		
	}
	
}

@mixin for-laptop-layout {
	@media (max-width: 1200px) {
		@content;
	}
}

@mixin for-tablet-layout {
	@media (max-width: 767px) {
		@content;
	}
}

@mixin for-mobile-layout {
	@media (max-width: 480px) {
		@content;
	}
}
